[user]
    name = Jay Stevens
    email = jay@wizardofthenet.com

[alias]
    ll          = log --pretty=oneline --abbrev-commit --max-count=15
    fp          = format-patch --stdout
    ci          = commit
    x           = checkout HEAD
    bv          = !git branch --color -v | cut -c1-100
    s           = status -sb -uno --ignore-submodules=untracked
    st          = status
    sa          = status -sb --ignore-submodules=untracked
    br          = branch
    bra         = branch -a
    co          = checkout
    unstage     = reset HEAD
    ad          = add
    di          = diff
    lo          = log --format=\"%h [%an] %ad | %s\" --date=short --max-count=15
    pu          = push
    up          = pull
    amend       = commit --amend
    ammend      = amend
    churners    = shortlog -sn --
    # show log
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    # show a log without the formating, occasionaly handy for c&p
    rawlog = log --format=\"format:commit %H%nAuthor:%an%n%n%B%n\"
    # not useful itself, but handy to remember for use in scripts
    thisbranch = rev-parse --abbrev-ref HEAD
    # url of origin, about 99% of what I use git config --list for
    cloneurl = config --get remote.origin.url

[core]
    filemode = true
    logallrefupdates = true
    whitespace = space-before-tab, trailing-space
    preloadindex = true

[help]
    browser = open

[branch]
    #autosetupmerge = true
    # always setup 'git pull' to rebase instead of merge
    autosetuprebase = always

[diff]
    renames = copies
    mnemonicprefix = true

[svn]
    # push empty directory removals back to svn at directory deletes
    rmdir = true

[push]
    default = current

[color]
    ui = auto

[color "diff"]
    meta = blue bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "branch"]
    current = yellow reverse
    local = yellow bold
    remote = green bold
    plain = red bold

[color "status"]
    added = yellow
    changed = green bold
    untracked = blue bold

[http]
    sslVerify = no
    postBuffer = 52428800

[pack]
    packSizeLimit = 2g

[difftool "beyondcomapre"]
    path = /c/development/tools/beyondcompare/
    cmd = /c/development/tools/beyondcompare/bcomp.exe \"$LOCAL\" \"$REMOTE\" -nobackups -title1=\"Old Version\" -title2=\"New Version\"
    trustExitCode = false
[mergetool "beyondcompare"]
    path = /c/development/tools/beyondcompare/
    cmd = /c/development/tools/beyondcompare/bcomp.exe \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\" -nobackups -title1=\"Local Changes\" -title2=\"Remote Changes\" -title3=\"Committed\"
    trustExitCode = false
